<h1>نبذة عن بسمة وزيتونة - Basmeh & Zeitooneh
</h1>


 

A Lebanese Association.
جمعية أهلية لبنانية.
الوصف
The Basmeh & Zeitooneh is a voluntarily and non-profit-oriented initiative founded by Syrians based in Lebanon, with their Lebanese friends. The members of the group represent the richness and variety of the Syrian society as they belong to the different intellectual and cultural as well as religious and ethnic affiliations. Within the bounds of their possibilities, the volunteers assist Syrian refugees who are in dire need of help.
The initiative started in September 2012 with regular field visits of some regions which have been frequented by Syrian refugees who are the most needy. The main goal was to assess the needs and to fill in the gaps of humanitarian assistance. After the initial assessment phase, efforts have been concentrated in areas where the needs appeared to be most urgent. The volunteers succeeded in building up trustworthy relations with the refugees through their regular visits and their individual initiatives, which later on became streamlined and led to the establishment of an organization. 

==================================================

مجموعة "بسمة وزيتونة" هي مجموعة تطوّعية غير ربحية، قوامها شباب سوريّون موجودون في لبنان (أُجبر معظمهم على الرحيل بعد اندلاع الثورة). يُجسِّد أفراد المجموعة النسيج الاجتماعيّ السوريّ الغنيّ والمتنوّع، فهم يحملون مختلف الانتماءات الفكريّة والثقافيّة، الدينيّة والإثنيّة. يقوم متطوّعو المجموعة بمساعدة النازحين السوريين الأكثر احتياجاً بما يتوفّر لديهم من إمكانيات. 
قامت المجموعة منذ شهر أيلول – سبتمبر الماضي بزيارات ميدانيّة دوريّة لبعض مناطق تواجد النازحين السوريين، خصوصاً الأكثر عوزاً منهم، وكان الهدف الأساسي هو تقويم الاحتياجات ومحاولة سدّ النقص في أعمال الإغاثة. وبعد مرحلة كشف واستطلاع، تّم التوافق على تركيز جهود العمل في أماكن التجمّعات التي بدت أكثر حاجة إلى أشكال الدعم المختلفة، والتي نجح أفراد المجموعة في بناء علاقات ثقة متبادلة مع قاطنيها بحكم زياراتهم الميدانية المُتكرّرة، وبحكم مبادراتهم التي بدأت فرديّة وبسيطة، وما لبثت أن تطوّرت لتصير جماعيّة منظّمة